<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>  
<div class="users">
  <h2>Attended events</h2>
  <% if @user.attended_events.any? %>
    <h4> <%= @user.attended_events.count %> events attended </h4>
    <% @user.attended_events.each do |attended| %>
      <%= link_to attended.title, attended%>
    <% end %>
  <% else %>
    attended no events
  <% end %>
</div>
<div class="users">
  <h2>Upcoming events</h2>
  <% if @upcoming_events.any? %>
    <% @upcoming_events.each do |uevents| %>
      <%= link_to uevents.title, uevents %>
    <% end %>
  <% end %>
</div>
<div class="users">
  <h2>Previous events</h2>
  <% if @prev_events.any? %>
    <% @prev_events.each do |pevents| %>
      <%= link_to pevents.title, pevents %>
    <% end %>
  <% end %>
</div>