<li id="event-<%= @event.id %>">
  <span class="user">
  	<h3><%= event.title %></h3>
  </span>
	<span class="content">
		Date: <%= event.event_date.strftime("%d-%m-%Y %I:%M %p") %><br>
		<p><%= event.description %></p>
		Event by: <%= link_to event.creator.name, event.creator %>
	</span>
  <span class="timestamp">
		Posted <%= time_ago_in_words(event.created_at) %> ago.
		<% if current_user?(event.creator) %>
			<% if event.event_date >= Time.now %> 
				<%= link_to "delete", event, method: :delete,
																				data: { confirm: "You sure?" } %>
			<% end %>																	 
    <% end %>
  </span>
</li>